<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/favicon.png" type="image/png">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header class="{{ page.header_class }}">
      <div class="header-top">
        <h2 class="sitename">Therapy Sparrow</h2>
        <nav>
          <a href="/">Home</a>
          <a href="/services/">Services</a>
          <a href="/contact/">Contact</a>
        </nav>
      </div>
      <div class="header-bottom">
        <h1 class="title">{{ page.title }}</h1>
      </div>
    </header>
    <main>
      <content>
        {{ content }}
      </content>
    </main>
    <footer>
      <span>
        206-482-4951
      </span>
      <span>
        <a href="mailto:katie@therapysparrow.com">katie@therapysparrow.com</a>
      </span>
    </footer>
  </body>
</html>